SECRET_KEY=<changeme>
ALLOWED_HOSTS=localhost 127.0.0.1
DEBUG=0

# Enter Custom Domain Name And Server ip For production
CSRF_TRUSTED_ORIGINS=https://*.example.com https://*.192.162.0.0.1

ENGINE=django.db.backends.postgresql
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=youremailaddress@gmail.com
EMAIL_HOST_PASSWORD=yourStrongPassword
EMAIL_USE_TLS=True

PAYPAL_CLIENT_ID=<changeme>

